html body {
  background-color: #111;
}

.back-image {
  background-image: url(https://res.cloudinary.com/drhewzpgi/image/upload/v1606066438/logo/shutterstock_1467333398-1400x1027_m9advf.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

label {
  color: white;
}

h1 {
  display: inline-block;
  font-size: 80px;
  line-height: 0.9;
  padding: 20px;
  font-family: "Syncopate", sans-serif;
  text-transform: uppercase;
  background: radial-gradient(
      circle farthest-corner at center center,
      white,
      rgba(154, 204, 245, 0.89)
    )
    no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
